*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page{
  display: flex;
  flex-direction: column;
}

.section-one-header{
  background-color: rgb(31, 41, 55);
  height :500px;
  display: flex;
  justify-content: center;
  box-sizing: border;
  padding: 20px 0 50px 0;
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  width: 75%;
}

.head-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.head-bar h2{
  color : white;
  font-size : 24px;
  margin :0;
}

.head-bar p{
  color : #E5E7EB;
  font-size : 16px;
}

.header-links{
  display: flex;
  gap : 24px; 
}

.header-links p{
  margin : 0;
  cursor: pointer;
}

.header-main-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content : space-between;
  gap : 40px;
  flex-grow : 1;
}

.header-text-button{
  color : white;
  width : 37%;
}

.header-text-button h1{
  font-size : 40px;
  font-weight: 800;
  margin : 0;
  margin-bottom : 10px;
}

.header-text-button p{
  color: rgb(159, 159, 159);
  margin : 0;
  font-size : 16px;
  margin-bottom: 15px;
}

.image-placeholder{
  background-color: rgb(107,114,120);
  width : 45%;
  height : 230px;
  display: flex ;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.image-placeholder span{
  color : #E5E7EB;
}

.header-text-button button{
  color: white;
  background-color: rgb(59, 130, 246);
  border : none;
  border-radius : 5px;
  padding : 5px 28px;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.5s ease-in;
  margin-top : 10px;
}

.header-text-button button:hover{
  cursor : pointer;
  color : rgb(59, 130, 246);
  background-color: white;
}

.section-two-info{
  background-color: white;
  height :400px;
}

.info-container{
  height: 350px;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container h1{
  margin-bottom : 10px;
  margin-top : 50px;
}

.info-cards{
  display: flex;  
  align-items: center;
  justify-content: center;
  width : 130px;
  gap : 56px;
  margin-top:20px;
}

.info-cards img{
  border : 3px solid blue;
  height: 140px;
  width : 140px;
  border-radius: 5px;
}

.info-cards p{
  text-align: center;
  width : 150px;
  color : rgb(69, 66, 66);
  margin : 0;
}

.section-three-quote{
  background-color: rgb(229, 231, 235);
  height :350px;
  display:flex;
  align-items : center;
  justify-content : center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quote-wrapper{
  width : 750px;
}

.quote{
  font-size: 32px;
  font-style : italic;
  margin: 0;
  color : rgb(72, 80, 92);
}

.quote-author{
  margin : 0;
  margin-top : 10px;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  
}

.section-four-signup{
  background-color: white;
  height :350px;
  display: flex;
  justify-content: center;
  align-items : center;
}

.cta-banner{
  background-color: rgb(59, 130, 246);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width : 950px;
  padding : 50px 100px;
}

.cta-text h3{
  color : white;
  margin : 0;
  font-weight: bold;
  font-size : 22px;
  margin-bottom : 5px;
}

.cta-text p{
  color: #e5e7eb;
  font-size: 16px;
  margin: 0;
}

.signup-button{
  color : white;
  background-color: transparent;
  border : 2px solid white;
  border-radius : 5px;
  padding : 5px 28px;
  font-weight: bold;
  font-size : 16px;
  transition: all 0.5s ease-in-out;
  cursor : pointer;
}

.signup-button:hover{
  background-color: white;
  color : rgb(59, 130, 246);
}

.section-five-footer{
  background-color: rgb(31, 41, 55);
  height : 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer{
  color : white;
  font-size : 16px;
}